<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OMMCDP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MatrialsFeeding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OMMCDP.Properties.Settings>
            <setting name="DISPLAY_SEQ_H_RATIO" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="DISPLAY_PART_H_RATIO" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CONNECTIONSTRING" serializeAs="String">
                <value>Server=10.120.175.75;database=OMMCDP;uid=OMMCDP;pwd=MNA_M!2008</value>
            </setting>
            <setting name="MSGBOX_HIDE_DELAY" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AUTO_SKIP_ENABLE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AUTO_SKIP_SECOND" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AUTO_SKIP_BARCODE_TO_PART_NO" serializeAs="String">
                <value>N/A|N/A</value>
            </setting>
            <setting name="MSGBOX_ENABLE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PART_GROUP_CHECK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PART_GROUP_DISPLAY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQL_GET_PCINFO" serializeAs="String">
                <value>SELECT PC.PC_CODE,
       PC.PC_NAME,
       PC.LINE_CODE,
       PC.STATION_CODE,
       PC.PC_IDX,
       PC.MAIN_TITLE,
       PC.IP_ADDRESS,
       PC_KIND,
       PC.SCANNER_PORT,
       PC.SCANNER_BAUD,
       PC.KEEP_ALIVE,
       PC.HEARTBEAT_TIME,
       ISNULL (CM.VALUE_01, '2') AS ROW_COUNT,
       ISNULL (CM.VALUE_02, '2') AS COLUMN_COUNT,
       ISNULL (CM.VALUE_03, 'HORIZONTAL') AS DIRECTION,
       CM.VALUE_05 AS REVS_COUNT,
       CM.VALUE_06 AS PLCNM_CODES,
       CM.VALUE_07 AS PROC_DONE_FLAG,
       CM.VALUE_08 AS DISPLAY_PATTERN
  FROM MST_PCINFO PC
       LEFT OUTER JOIN MST_COMMON CM
          ON PC.PC_CODE = CM.COMMON_CODE AND CM.COMMON_GROUP = 'MAT_FEEDING'
 WHERE PC.IP_ADDRESS = '{0}'</value>
            </setting>
            <setting name="PART_BACKCOLOR_OK" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="PART_FORECOLOR_OK" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PART_BACKCOLOR_NEXTWORKS" serializeAs="String">
                <value>LightYellow</value>
            </setting>
            <setting name="PART_FORECOLOR_NEXTWORKS" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PART_BACKCOLOR_NG" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="PART_FORECOLOR_NG" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PART_BACKCOLOR_CURRENTWORK" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="PART_FORECOLOR_CURRENTWORK" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SEQ_BACKCOLOR_CURRENTWORK" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="SEQ_FORECOLOR_CURRENTWORK" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="SEQ_BACKCOLOR_NEXTWORKS" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="SEQ_FORECOLOR_NEXTWORKS" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SEQ_BACKCOLOR_OK" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="SEQ_FORECOLOR_OK" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SEQ_FORECOLOR_GROUP" serializeAs="String">
                <value>Yellow</value>
            </setting>
        </OMMCDP.Properties.Settings>
    </userSettings>
</configuration>